<section>
    <div class="container">
        <div class="row">
            <a class="btn btn-success mt-3" href="/add-student">Add Student</a>
            <table class="table mt-5 table-bordered ">
                <thead class="table-warning">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Father Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Student Id</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                    <tr>
                    <th  scope="row">{{@index}}</th>
                    <td>{{this.StudentName}}</td>
                    <td>{{this.FatherName}}</td>
                    <td>{{this.Address}}</td>
                    <td>{{this.Mobile}}</td>
                    <td>{{this.ReIdNumber}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>